../../.CFUserTextEncoding
	../../.ServiceHub/
	../../.angular-config.json
	../../.aspnet/
	../../.cache/
	../../.dbclient/
	../../.dotnet/
	../../.gitconfig
	../../.local/
	../../.npm-global/
	../../.npm/
	../../.nuget/
	../../.nvm/
	../../.sentry /
	../../.templateengine/
	../../.vscode/
	../../.zsh_history
	../../.zsh_sessions/
	../../.zshrc
	../../Applications/
	../../ConsoleApp1/
	../../Library/
	../../Movies/
	../../Music/
	../../Pictures/
	../../PrimaryNote/
	../../Public/
	../../SportStoreAngular/
	../
	../../appjs/
