version: "3"
services:
    sportsstore:
        build: .
        ports:
            - "5001:5000"
        environment:
            - ASPNETCORE_ENVIRONMENT=Production
        depends_on:
            - sqlserver
    sqlserver:
        image: "mcr.microsoft.com/mssql/server"
        environment:
            SA_PASSWORD: "Albinox123!@#"
            ACCEPT_EULA: "Y"